#root {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-color: #0E0D12;
  
}

.container {
  height:55rem;
  width: 115rem;
  display: grid;
  justify-content: space-around;
  align-items: baseline;
  gap: 3rem;
  
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.72613rem;
  height: 3.0625rem;
  color: #FFF;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-left: 12rem;
}

.buttons{
  display: flex;
  justify-content: center;
}

.input {
  width: 22rem;
  height: 3.4375rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #1E1D25;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFF;
}

.plus {
  width: 3.4375rem;
  height: 3.4375rem;
  flex-shrink: 0;
  border-radius: 624.9375rem;
  border: 1px solid #3A6BF4;
  background: none;
  color: #3A6BF4;
  margin-left: 2rem;
  margin-right: 2rem;
}

.calc {
  width: 12rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #3A6BF4;
  color: #FFF;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  position: relative;

}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFBFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFBFF;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.clear {
  display: inline;
  margin-left: 12rem;
  width: 18.72613rem;
  height: 3.0625rem;
  flex-shrink: 0;
  color: #FFF;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
}